@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
  
}

.container {
    width: 90%;
    margin:auto
}

/* top bar */
.link:hover{color: #ff5252;}

/* navbar cart color */
.MuiBadge-badge{background-color: #ff5252 !important;}
